/*=========================
		MEDIA QUERIES
=========================*/

/*** Header ***/
.main-header {
	display: flex;
	justify-content: space-between;
}

/*** Body ***/
. {
	display: flex;
	flex-direction: column;

}

.main-logo {
	align-self: center;
}

/*** Footer ***/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
	flex: 1;
}

/*** Mobile Screen ***/
@media (max-width: 498px) {

	.figure {
		width: 300px;
		height: auto;
		padding-bottom: 0px;
		padding-top: 10px;
	}

	.figure, .detail {
		margin-left: 5%;
		margin-right: 5%;
	}

	.secondary-logo {
	visibility: hidden;
	}

	.thumbnail {
	width: 100px;
	height: auto;
	padding-left: 15px;
	padding-top: 10px;
	}

	.shop-detail {
		padding-left: 15px;
	}
}

/*** Tablet Screen ***/
@media (min-width: 499px) and (max-width: 650px) {
	.thumbnail {
		width: 125px;
		height: auto;
		padding-right: 15px;
	}

	.shop-detail, .row {
		margin-left: 5%;
		margin-right: 5%;
	}

	.row {
		padding-top: 15px;
	}

	.detail {
		margin-bottom: 20px;
	}

	.container {
		margin-left: 5%;
		margin-left: 5%;
	}
}

@media (min-width: 649px) and (max-width: 949px) {

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: baseline;
	}

	.figure {
		margin-left: 15px;
	}

	.detail {
		clear: right;
		text-align: center;
		margin-top: 50px;
	}

	.row, .shop-detail {
		padding-left: 20px;
	}

	p {
		padding-right: 20px;
	}

	.row {
		padding-top: 20px;
	}
}

/*** Desktop Screen ***/
@media (min-width: 950px) {

	.container, .grid {
		display: flex;
		flex-wrap: wrap;	
	}

	.figure {
		margin-left: 15%;	
	}

	.detail {
		margin: auto;
	}

	.row, .shop-detail {
		margin-left: 20%;
	}

	p {
		margin-right: 20%;
	}

	.row {
		padding-top: 20px;
	}

	.thumbnail {
		width: 225px;
		height: auto;
	}
}




