/*=========================
		MEDIA QUERIES
=========================*/

/*** Header ***/
.main-header {
	display: flex;
	justify-content: space-between;
}

/*** Body ***/
. {
	display: flex;
	flex-direction: column;

}

.main-logo {
	align-self: center;
}

/*** Footer ***/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*** Mobile Screen ***/
@media (max-width: 498px) {

	.figure {
		padding-bottom: 0px;
		padding-top: 10px;
	}

	.detail {
		margin-left: 15px;
	}

	.secondary-logo {
	visibility: hidden;
	}
}

/*** Tablet Screen ***/
@media (min-width: 499px) and (max-width: 949px) {

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: baseline;
	}

	.figure {
		margin-left: 15px;
	}

	.detail {
		clear: right;
		text-align: center;
		margin-top: 50px;
	}

}

/*** Desktop Screen ***/
@media (min-width: 950px) {

		.container {
		display: flex;
		flex-wrap: wrap;
		
	}

	.figure {
		max-width: 400px;
		margin-left: 15%;
		
	}

	.detail {
		margin: auto;
	}
}




