/*=========================
		GENERAL
=========================*/

/*** Clickable links ***/
a, a:visited, a:hover {
	color: black;
	text-decoration: none;

}

img {
	max-width: 400px;
	max-height: 400px;
}

/*** Background and base colors, margins, and padding ***/
.container {
	padding-bottom: 30px;
	margin-bottom: 10px;
}

p {
	font-size: 1.25em;
}

/*=========================
		HEADER
=========================*/

/*** Dropdown Menu Build ***/

/* Hamburg bars */
.menu-icon {
	max-width: 25px;
}

/* Dropdown Button */
.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
}

/* The container <div> */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown content */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Changing colors on dropdown */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {
	display: block;
}

/***  Main header margin and padding ***/
.main-header {
	padding-bottom: 20px;
}

/*=========================
		BODY
=========================*/
 
/*** Clickable links ***/
.button {
	background-color: #00ccff;
	border-radius: 12px;
	padding: 12px 24px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3;
}

.button:hover {
	opacity: 1;
}

/*** Margin and padding ***/
.figure {
	padding-bottom: 25px;
}

.detail {
	padding-bottom: 10px;
}

.product-title {
	font-size: 3em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.price {
	color: #00ccff;
}

.thumbnail {
	width: 200px;
	height: auto;
}

/*** Tab Gallery ***/



/*=========================
		FOOTER
=========================*/

/*** Footer text alignment ***/
.main-footer {
	text-align: center;
}

/*** Footer display margin and padding ***/
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 20px;
}




